body{
  margin: 0;
}

.container-div{
  display: flex;
  background-color: #ffe6e6;
  width: 60%;
  height: 1000px;
  margin: 0 auto;
}

.left-col{
  flex-direction: column;
  width: 33%;
  margin: 0;
  padding: 10px;
  background-color: red;
  text-align: center;
}

.right-col{
  flex-direction: column;
  width: 67%;
  margin: 0;
  padding: 10px;
  background-color: blue;
}

.picture{
  width: 80%;
  margin: 10px;
}

.header-box{
  margin: 10px;
  background-color: green;
  text-align: left;
  padding: 10px;
}

.header-caption{
  margin: 0;
}

.contact-info-box{
  padding: 10px;
  text-align: left;
}

.contact-info-labels{
  font-size: 1.1em;
}
