body{
  margin: 0;
}

a{
  color: inherit;
}

.container-div{
  display: flex;
  background-color: #ffe6e6;
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.left-col{
  flex-direction: column;
  width: 33%;
  margin: 0;
  padding: 10px;
  color: #FEE4D2;
  background-color: #484D60;
  text-align: center;
}

.right-col{
  flex-direction: column;
  width: 67%;
  margin: 0;
  padding: 10px;
}

.picture{
  width: 80%;
  margin: 10px;
}

.header-box{
  margin: 10px;
  color: #484D60;
  background-color: #FDFEF9;
  text-align: left;
  padding: 10px;
}

.header-caption{
  margin: 0;
}

.header-box-contact{
  color: #484D60;
  background-color: #FEE4D2;
}

.info-box{
  padding: 10px;
  text-align: left;
}

.info-labels{
  font-size: 1.1em;
}
